/* Tage-based Selector */
body /* */
{
  background-color: #f8f1f1;
}

h1
{
color: #350b40;
font-family: 'Neucha', cursive;
font-size: 2em;
text-align: center;
width: 100%;
display: inline-block;
}

hr
{
  color: #0f1123;
  display: block;
  border-style: solid;
/*  border-width: 2px; */
  border-top: 4px;
   border-width: 1px;
  width: 900px;
}

h3
{
color: #19456b;
text-decoration: underline;
font-family: 'Quicksand', sans-serif;
 text-align: center;
 display: inline-block;
 width: 100%
}


img
{
width: 250px;
height: 250px;
align-self:center;
margin-left: 500px;
}

label
{
  color: #09015f;
  font-family: sans-serif;
  text-align: center;
  font-size: 15px;
}

input[type=text]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
/*  box-sizing: border-box; */
}

table
{
  margin-left: 50px;
  align-self: center;
}



/* Class-based Selectors*/

.prachibutton
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.myborder
{
  border-radius: 100%;
}

/*Pseudo-class Selectors*/
.prachibutton:hover
{
background-color: #28527a;
}

/* ID type Selector */

#under
{
  text-decoration: underline;
}
